*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

header{
	height:45px;
	width:100%;
	background-color:rgba(0,0,0,0.7);
}

header > nav{
	height:inherit;
	max-width:1920px;
	margin:0 auto;
}

header > nav > ul{
	height:inherit;
	width:inherit;
	list-style:none;
	display:flex;
	justify-content:center;
	align-items:center;
	column-gap:30px;
	font-family:Helvetica, Arial, sans-serif;
	font-size:11.5px;
}

header > nav > ul > li > a{
	color:rgba(255,255,255,0.7);
	text-decoration:none;
	padding: 16px 5px;
	letter-spacing: 0.5px;
	transition:all 0.3s;
}

header > nav > ul > li > a:hover{
	color:rgba(255,255,255,1);
}

header .app{
	font-size:16.5px;
}

header .search{
	font-size:14.5px;
}

header .cart{
	font-size:14px;
}